fastapi==0.115.2
fastapi[standard]
numpy==1.26.4
Pillow==10.4.0
pydantic==2.9.2
pydantic_settings==2.5.2
PyJWT==2.9.0
tensorflow==2.16.1
sqlalchemy==2.0.36            
opencv-python-headless==4.10.0.84     
opencv-contrib-python-headless==4.10.0.84
mediapipe==0.10.18      

